[2013-03-12 14:42] bradbarbin opened #5 "Having trouble calling skills"
Great gem. Thank you.

I'm having difficult calling :skills and I was wondering if I was doing something wrong. From the console, the skills return as Mechanize page links, but when I return a JSON object the skills are nowhere to be found.

![Screen Shot 2013-03-12 at 10 39 49 AM](https://f.cloud.github.com/assets/692467/249051/db960948-8b22-11e2-92df-e0b4d97a751d.png)

Here's the rabl view:

obj

[2013-03-12 15:47] #5 closed, assigned to nobody

[2013-05-28 06:05] yatish27 opened #14 "Wrong country assigned for US profile"
For the US profile, Country DOM has the state or area. Need to fix that

[2013-06-18 01:43] rdempsey opened #17 "Uninitialized Constant LinkedIn"
When running the following in irb:

require 'linkedin-scraper'
profile = LinkedIn::Profile.get_profile("http://www.linkedin.com/in/robertwdempsey")

I get the following error:

NameError: uninitialized constant LinkedIn
    from (irb):2
    from /Users/roger/.rvm/rubies/ruby-1.9.3-p327/bin/irb:18:in `<main>'

I'm running ruby version 1.9.3p327 and have all the other required gems installed.

Any i

[2013-06-18 13:20] #17 closed, assigned to nobody

[2013-10-20 17:40] tuxmartin opened #18 "Bad lib path"
I installed linkedin-scraper on Lubuntu 13.10 by "gem install linkedin-scraper".
App "linkedin-scraper http://www.linkedin.com/in/jeffweiner08" crash with this error:

[code]

Error is in file "/var/lib/gems/1.9.1/gems/linkedin-scraper-0.0.11/bin/linkedin-scraper". Diff (one line fix):

[code]

after that output is ok:

pokus@pokus:~$ linkedin-scraper http://www.linkedin.com/in/jeffweiner08
{"name

[2013-11-09 18:54] #14 closed, assigned to nobody

[2013-11-11 04:43] kaisarea opened #20 "Lib paths?"
Hello there,
let me first thank you very much for a great piece of software!

I was having little trouble installing this both on Mac OS X and Ubuntu, error being pretty much the same.

kaisar@kaisar-MS-7641:~$ linkedin-scraper http://www.linkedin.com/in/jeffweiner08

/home/kaisar/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/site_ruby/2.0.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load

[2013-12-27 10:01] #20 closed, assigned to nobody

[2013-12-27 10:01] #18 closed, assigned to nobody

[2014-03-18 17:27] mmahalwy opened #21 "Returns nil in production but fine in development"
Using Ruby 2.1.1 and Rails 4.0.3

Development, works great. Production, I get this

999 =>  for  -- http://www.linkedin.com/in/mmahalwy

[2014-04-29 15:00] GamalTawaf opened #23 "SocketError: getaddrinfo: Name or service not known"
Hi , when I use function current_positions and past_positions I always get this error :SocketError: getaddrinfo: Name or service not known
all other function on that profile work fine.
I do realize that it is making another call to get the page and it fails.
How do I fix that ?

this is The trace for the error :

from /home/chinmay/.rvm/gems/ruby-2.1.1/gems/socksify-1.5.0/lib/socksify.rb:172:in `i

[2014-05-21 18:15] #21 closed, assigned to nobody

[2014-06-05 13:55] jcontesse opened #26 "Problem when linkedIn URL has accents"
Is there another way I can write the URL?
I tried URLEncoding, etc.

linkedin-scraper http://cl.linkedin.com/pub/alejandra-peña-lazcano/61/9ab/68/en

/usr/local/bin/linkedin-scraper:13:in `<main>': invalid byte sequence in UTF-8 (ArgumentError)

[2014-06-08 07:34] clening opened #27 "Install hangs at Building Native Extensions in OSX Mavericks"
Hey guys:

Forgive me, I'm somewhat new to Ruby and creating gems. When I attempt to install scraper on OSX Mavericks, it seems to hang indefinitely at this stage. I've tried Verbose mode, but that only adds the following information:

Installing gem unf_ext-0.0.6
/Library/Ruby/Gems/2.0.0/gems/unf_ext-0.0.6/.document
/Library/Ruby/Gems/2.0.0/gems/unf_ext-0.0.6/.gitignore
/Library/Ruby/Gems/2.0.0/g

[2014-06-08 18:58] #27 closed, assigned to nobody

[2014-07-16 15:12] yatish27 opened #30 "Static tests"
Need to test using fixtures for profile as well the company pages.

[2014-07-29 14:55] mmwtsn opened #31 "Usage example does not appear to be working."
When walking through the usage instructions contained within the README, nearly all of the suggested methods were returning `nil` or an empty array.

I was having issues scraping LinkedIn using Nokogiri and Ruby's OpenURI module before trying out this gem. Perhaps LinkedIn is doing something to interfere with scraping attempts?

Tested using the following:

[code]

[2014-07-29 14:59] mmwtsn opened #32 "Add version flags to the command line executable"
Attempting to check the version number of them gem through the command line executable instead throws an error as a query is made.

Adding both `-v` and `--version` flags would be helpful! [Ruby's OptionParser class](http://ruby-doc.org/stdlib-2.1.2/libdoc/optparse/rdoc/OptionParser.html) is a fairly common method for building these flags into a gem's executable (see [Nokogiri's binary file](https

[2014-08-27 16:43] LailaLai opened #33 "how to get the scraped data in an a file (instead of prompt)?"
Hello,

I need to use the scraped data to enrich some RDF files. How can i get the scraped data in an a file (instead of prompt)?

[2014-08-28 04:38] gregschroeder opened #34 "some public profiles have different format and do not parse"
Some profiles are not able to be parsed, as they have slightly different CSS.  For example, see http://www.linkedin.com/pub/carl-reichenbach/0/717/271 (random person).  ".full-name" has no nested given-name or family-name elements, just a single text value:

[code]

The profile image does not have id "#profile-picture", but rather, class ".profile-picture".

[code]

I don't know if this is a new f

[2014-11-19 19:07] dbounds opened #37 "Company names are empty"
The past_companies collection is populated but the company names are empty for all but the first position.

Profile used: https://www.linkedin.com/in/darrenbounds

[2014-12-04 01:12] huansun opened #38 "need to type in login info somewhere"
The error message I got is here:

C:/Ruby193/lib/ruby/gems/1.9.1/gems/net-http-persistent-2.9.4/lib/net/http/persistent/ssl_reuse.rb:70:in `connect': SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (OpenSSL::SSL::SSLError)
	from C:/Ruby193/lib/ruby/gems/1.9.1/gems/net-http-persistent-2.9.4/lib/net/http/persistent/ssl_reuse.rb:70:in `block in connect'

[2014-12-06 02:17] carlotorniai opened #39 "999 response error while running from racksapce"
HI I using the scraper form my Rackspece machine I receive a 999 response.
Details of the error below:
 linkedin-scraper http://www.linkedin.com/in/jeffweiner08
/usr/local/rvm/gems/ruby-2.0.0-p247/gems/mechanize-2.7.3/lib/mechanize/http/agent.rb:933:in `response_read': 999 =>  for  -- http://www.linkedin.com/in/jeffweiner08 (Mechanize::ResponseCodeError)
	from /usr/local/rvm/gems/ruby-2.0.0-p247/g

[2015-01-01 03:51] scottjustin5000 commented on #38
@huansun see: http://stackoverflow.com/questions/5720484/how-to-solve-certificate-verify-failed-on-windows (devdude's answer)

[2015-01-01 16:00] louwersj commented on #37
I have noticed the same issue... the majority of the companies are empty... also start_date and end_date are null (all tested in the JSON view)

[2015-01-01 16:04] louwersj opened #40 "[RFC] Need for connections information"
It would be great if we can use this scraper in a way that you can also get the information about the connections that a person has.... This would help build a better profile about a "scraped profile". This would require logging into the Linkedin directly from the code or based upon a cookie that is provided to the scraper.

[2015-01-01 16:06] louwersj opened #41 "[RFC] direct database store"
It would be great if the information can directly be send to a table in a database. This would help the adoption of the code I think. People whould be able to use the scraped data directly from the database as soon as it is commited.

[2015-01-01 16:45] yatish27 commented on #37
I will work on it tonight

On Thursday, January 1, 2015, Johan Louwers <notifications@github.com>
wrote:

--
Yatish Mehta

[2015-01-02 15:08] louwersj commented on #37
Hi Yatish, sounds great... would be cool if this can be resolved as it will make the tool much more useful. I am looking into how I can use it to map social network connection by making use of neo4j... your code would really help as a feeder into neo4j :-)

Very much appreciated if you can fix this as I am not a ruby developer :-)

[2015-01-02 19:41] yatish27 commented on #37
@louwersj  which profile link are you testing it on

[2015-01-02 19:55] yatish27 commented on #37
@dbounds The code in master gives this output http://pastebin.com/WWhCjZpp

[2015-01-02 19:57] yatish27 commented on #41
@louwersj I have added the to_json and binary for the same purpose. Users can parse the json and save it in the database as required.

[2015-01-02 19:57] yatish27 commented on #40
Planning it keep only for public information.

[2015-01-03 10:46] jtoy commented on #31
same issue,does this work?

[2015-01-04 12:58] louwersj commented on #41
:-)

[2015-01-04 13:34] louwersj commented on #37
As an example I am using: https://www.linkedin.com/in/innovativemarketingmanager
When I look at the JSON output I notice that the company sections are empty....

Johan.

[2015-01-04 14:50] yatish27 commented on #37
I tried it worked for me. Try to install 0.1.5 version and then test

[2015-01-04 14:50] #41 closed

[2015-01-04 14:54] yatish27 commented on #23
There is no method as current_positions.
Try to test on 0.1.5

[2015-01-04 14:54] #23 closed

[2015-01-04 14:57] yatish27 commented on #26
works fine on linux and mac test on latest ruby and latest gem

[2015-01-04 14:57] #26 closed

[2015-01-04 14:57] yatish27 commented on #31
Fixed 0.1.5

[2015-01-04 14:57] #31 closed

[2015-01-04 14:58] #38 closed

[2015-01-04 14:59] #34 closed

[2015-01-04 15:00] yatish27 commented on #33
install the gem

    linkedin-scraper <link> > outputfile.txt

[2015-01-04 15:00] #33 closed

[2015-01-04 15:01] #30 closed

[2015-01-04 15:01] #40 closed

[2015-01-04 19:00] LailaLai commented on #33
Thank you
Le 4 janv. 2015 15:00, "Yatish Mehta" <notifications@github.com> a écrit :

[2015-01-17 13:30] cyberfab007 commented on #37
has anyone got a version working with proxies yet ?

[2015-01-17 13:31] cyberfab007 commented on #37
if not I would be glad it get that done :)

[2015-01-17 19:52] yatish27 commented on #37
@cyberfab007 You can raise a PR

[2015-01-18 00:16] kirstywilliams commented on #39
This happens when LinkedIn has blocked the IP address for too much traffic. You might want to limit the amount of calls you make to the site from a single IP address.

[2015-02-11 18:28] wyngit commented on #37
Hello yatish, thanks so much for your efforts in this. I now have the reverse problem for some profiles: the current company field is populated, but the past companies fields are empty.

The profile in question is: http://www.linkedin.com/in/chicjai

Thanks again.

[2015-03-15 11:36] 123ndy opened #42 "Get number of endorsements of each skill?"
First of all: Great gem!

Second, I would love to get the number of endorsement of each skill. Would that be possible to implement?

[2015-03-15 19:59] yatish27 commented on #42
Will try to work on it next weekend

[2015-03-15 22:37] 123ndy commented on #42
Great! I did some research on it today, and it seems that the "number of endorsement" is loaded into the page with some JS after the page is loaded in a browser. So I don't know if it is possible to do only with a Nokogiri...

[2015-03-30 21:36] mlieber opened #43 "Groups gives an empty set back"
Hi,

it seems like the groups section doesn't work anymore, it always return an empty set.
Tried corrected code to:

      @groups ||= @page.search('#groups .groups-name').map do |item|
        name = item.text.gsub(/\s+|\n/, ' ').strip if item.at('strong')

        { :name => name }
      end

Not working so far ..
thanks

[2015-03-30 22:10] yatish27 commented on #43
Please check if you can see the groups in the public profile(without signing up). I checked and it is working.
If possible can you paste the link and rawhtml

[2015-03-30 23:12] mlieber commented on #43
Yatish, thanks but i am not following -
if i log out of Linkedin and go to https://www.linkedin.com/in/jeffweiner08 , i cannot see his groups; i only see them when i log in.
Either way when i run the code from my machine, it doesn't utilize the cookies from the browser to know whether I am logged in or not to LI (and i tried either way);

$ linkedin-scraper http://www.linkedin.com/in/jeffweiner08

[2015-03-30 23:15] yatish27 commented on #43
This code works only for public profiles, So it won't work if you can't see the details in public view. It collects only  public profile details

[2015-03-30 23:15] #43 closed

[2015-04-13 22:02] mlieber opened #44 "API not working any more"
hi,

I had the code installed on my own laptop a month ago, and everything worked fine.
Now, i just created a new instance on EC2, and installed/pulled the code, but getting:

ubuntu@ip-172-31-42-56:~$ linkedin-scraper http://www.linkedin.com/in/jeffweiner08
/home/ubuntu/.rvm/gems/ruby-2.2.1/gems/mechanize-2.7.3/lib/mechanize/http/agent.rb:933:in `response_read': 999 =>  for  -- http://www.linkedi

[2015-04-20 19:54] tenji240 commented on #44
Hi,

I'm getting the same error. It works fine on my local machine, but running the command on an EC2 instance raises the same `999` error.

Thanks,
Tenji

[2015-04-22 12:42] dvc009 commented on #17
I'm getting the same error even with:
profile = Linkedin::Profile.get_profile("http://www.linkedin.com/in/jeffweiner08")

I'm using ruby 2.0.0p481 (2014-05-08 revision 45883) [universal.x86_64-darwin13]

[2015-04-25 20:26] yatish27 commented on #44
Try booting up on Digitalocean

[2015-04-25 20:26] yatish27 commented on #42
If it loaded with JS then it will be difficult to load

[2015-04-25 20:26] #42 closed

[2015-04-25 20:27] yatish27 commented on #39
Limit the call with max of 4 requests per second. Do not exceed more than that

[2015-04-25 20:27] #39 closed

[2015-04-25 20:27] #37 closed

[2015-04-29 02:39] cyberfab007 opened #45 "Still unable to use proxy IP"
Anyway we can get a proxy variable dropped in to this script please ,  I know how to do it php , it is so easy when using CURL, I mean it must be simper in ruby to do this!

[2015-04-29 02:42] cyberfab007 commented on #45
http://ruby-doc.org/stdlib-2.0/libdoc/open-uri/rdoc/OpenURI/OpenRead.html

somthing like this ?

[2015-05-04 21:30] mlieber commented on #45
Use the set_proxy() method on agent, i.e.:
agent.set_proxy('<address>', port, 'username', 'password')

[2015-05-06 06:20] cyberfab007 commented on #45
Im sorry but I don't know how to code in ruby as of yet (though I have taken some tutorials, can you just update in the github release ? so its like this  "linkedin-scraper  LINKEDINURL  proxy port "  when you run the command

[2015-05-08 17:04] yatish27 commented on #45
I guess you can buy proxies for the virtual server in which you running this bot.
You can buy them at one place https://instantproxies.com

[2015-05-12 00:23] cyberfab007 commented on #45
yatish27 I have over 500 proxies from only instantproxies.com but others as well   I use them for my lead generation for my business  , but I can not use them with this scraper , I am learning ruby , but cant figure it out how to drop the proxy variable ,

you should be able to do this  from the  command  line

 linkedin-scaper  PROFILEURL  10.40.43.35:8080

that would ideal

[2015-05-12 00:35] yatish27 commented on #45
Let me look into it

On Mon, May 11, 2015 at 8:23 PM, Jeremy Fabiano <notifications@github.com>
wrote:

[2015-05-12 00:38] mlieber commented on #45
No worries I know how; I will try your proxy.

Le lundi 11 mai 2015, Yatish Mehta <notifications@github.com> a écrit :

[2015-05-12 01:09] cyberfab007 commented on #45
well thats not a real proxy I use here I just make that one up

[2015-05-12 01:13] cyberfab007 commented on #45
besides my paid proxies , I also use proxies from here http://www.publicproxyservers.com/proxy/list1.html

[2015-05-12 01:14] cyberfab007 commented on #45
here as well http://tools.rosinstrument.com/raw_free_db.htm?0&t=1

[2015-05-12 15:46] mlieber commented on #45
Ok thanks. But we want to use dedicated proxies, not public ones, that's
very unsafe, they record your queries.
I am already using a private proxy, thanks.

On Mon, May 11, 2015 at 6:14 PM, Jeremy Fabiano <notifications@github.com>
wrote:

[2015-05-12 23:42] cyberfab007 commented on #45
so you updated the  script ?

[2015-05-13 01:18] mlieber commented on #45
The proxy that I was using got blocked after a couple of 100 requests..
We need to find another solution.

Le mardi 12 mai 2015, Jeremy Fabiano <notifications@github.com> a écrit :

[2015-05-13 02:22] cyberfab007 commented on #45
humm, just use the public ones for just testing , I have lots of private ones , but they are being used to pull down the profiles right now and they behavior is set in such a way google is not bothering me right now

[2015-05-13 03:56] mlieber commented on #45
Thanks, but it won't work. Linked in is very sensitive with proxies. I
tried a lot of them already.

Le mardi 12 mai 2015, Jeremy Fabiano <notifications@github.com> a écrit :

[2015-05-13 03:57] cyberfab007 commented on #45
ok I will have some fresh proxies for you

[2015-05-13 03:57] cyberfab007 commented on #45
just waiting for some paypal transfer from my bank , I will buy 50 more

[2015-05-13 05:53] mlieber commented on #45
Wow - 50 may work indeed!
I just need their IPs and the username and password.
Cheers -

Le mardi 12 mai 2015, Jeremy Fabiano <notifications@github.com> a écrit :

[2015-05-13 06:09] cyberfab007 commented on #45
do you have the script working ?
with 50 IP's I should be able to pull about 500 profiles a  hour

[2015-05-13 17:18] mlieber commented on #45
Yes the script is working. I just need your list of IPs and port, username
and pass.
Thanks

Le mardi 12 mai 2015, Jeremy Fabiano <notifications@github.com> a écrit :

[2015-05-14 01:06] cyberfab007 commented on #45
add me on skype

[2015-05-14 01:06] cyberfab007 commented on #45
cyberfab007

[2015-05-14 03:02] mlieber commented on #45
what's your handle ? There are several -

On Wed, May 13, 2015 at 6:06 PM, Jeremy Fabiano <notifications@github.com>
wrote:

[2015-05-14 03:52] cyberfab007 commented on #45
cyberfab007 is my handle

[2015-06-08 09:58] drwl commented on #44
EC2 ip ranges have been blocked by LinkedIn which is why you get the 999.

[2015-06-09 19:23] kevinchugh opened #47 "education description not working"
This always appears as empty string.

[2015-06-09 19:45] kevinchugh commented on #47
Looks like this is because there are two h5's, one for the description, one for the college logo, the presence of college logo is tripping up this selector and causing an empty description.

[2015-06-09 20:06] kevinchugh commented on #47
I keep getting a permission error to commit the fix, so here's the fix:

    change line 94 in lib/linkedin-scraper/profile.rb to
    desc   = item.search('h5').last

This will skip over the first h5 if present

[2015-06-10 14:23] yatish27 commented on #47
You can send a PR

On Tue, Jun 9, 2015 at 12:23 PM, Kevin Chugh <notifications@github.com>
wrote:

[2015-07-06 15:11] Aaron-Hill opened #48 "Getting it to Work for a Company Page"
This has been working really great for me so far for individual public profiles, thank you. I'm really interested, though, in scraping a company page. Here's an example of one i'm interested in:

https://www.linkedin.com/company/nestle-s-a-?trk=affco

These pages have a lot of unique data and we have a lot of potential accounts that we'd like to know the industry for, and/or number of employees. I

[2015-07-17 18:30] bvanbreukelen opened #49 "Does linked scraper follow links?"
I'm using linked scraper in a web configuration. I ran after 4 'scrapes' into 999 (blocked by linkedIn). I made a workaround using WGET first, storing the profile and serve this on my own server. After this I http://localhost/profile.html with linkedin-scraper. This works like a charm... however after a number of 'scrapes' I run into a 999 blocked again??  I'm not a ruby programmer and have a hard

[2015-07-17 19:08] yatish27 commented on #49
Hi,
Yes to get the company details it follows the link on the profile which
will hit 'linkedin.com'

On Fri, Jul 17, 2015 at 11:30 AM, bvanbreukelen <notifications@github.com>
wrote:

--
Yatish Mehta

[2015-07-17 19:16] bvanbreukelen commented on #49
Ah. I;m just wondering what information I would miss. When I 'look' at a profile to me it seems like everything is there.  Using wget it is easy to show yourself as a 'normal' browser visiting linkedin. I could wget something but not scrape using the scraper. So for me the 'workaround' seemed to work. Would it be possible to build/implement an option (-nofollow) and parse the more limited data? Ju

[2015-07-17 20:16] yatish27 commented on #49
You would miss the company detail information

On Fri, Jul 17, 2015 at 12:16 PM, bvanbreukelen <notifications@github.com>
wrote:

--
Yatish Mehta

[2015-07-17 20:25] bvanbreukelen commented on #49
Ok. I could maybe work around that. Could you point me to where i might change this in the code to disable that additional detail. just to try this out? I might be able to work this out myself but it would be nice to  have a general idea where to find this.
By the way, I like the scraper!! Would also love to be able to 'scrape' my contacts/network information :)

[2015-07-17 21:21] yatish27 commented on #49
When calling the fuction to get the data don't call company related methods
on the profile object

On Fri, Jul 17, 2015 at 1:25 PM, bvanbreukelen <notifications@github.com>
wrote:

--
Yatish Mehta

[2015-07-18 07:06] bvanbreukelen commented on #49
Thank you for the quick response I will give this a try. this will need me to learn ruby a bit better I guess as I'm now using the binary version from command line.

[2015-07-18 18:01] petabreads commented on #49
Hi @bvanbreukelen, would you mind sharing your solution using WGET? I was also working through the 999 issue last night... not being a dev I ended up setting a VPN from my linode back to a cisco firewall at home. Works pretty well, but not my preferred solution. Also tired tor and torsocks/torify, but 70% of those addresses are also blocked.

Thanks and good luck

[2015-07-18 18:42] bvanbreukelen commented on #49
Hi @petabreads,

Sure.. I use the bin version of the scraper from command line btw.
I wrote a php script (which is called from an ajax call from my website) that first does a wget and next the scrape. I setup a folder on my server that is web accessible so the scraper can connect to that instead of the linkedin site. I put that part of the php here. Be aware, to minimise download etc, there are li

[2015-07-19 10:48] chamnap opened #50 "Should not request to company detail if there is no link"
It should not send request to company detail link if there is no link, https://github.com/yatish27/linkedin-scraper/blob/master/lib/linkedin-scraper/profile.rb#L199. Some companies doesn't have link, https://www.linkedin.com/in/antoniofelaco.

[code]

I don't have enough time to send PR. :)

[2015-07-20 20:02] petabreads commented on #49
@bvanbreukelen Thanks for the info! still trying to understand it :D (like i said, not a developer).

Just had an idea... would it be possible with a browser to login to Linkedin, navigate to a profile, download the page source (this is the same as what wget returns?), then use that in the process you outlined above? The idea being to scrape a profile while actually authenticated to Linkedin, thus

[2015-07-20 20:12] bvanbreukelen commented on #49
Hi.

Indeed the page source is what wget returns.
Your other idea sounds great. I'm not the developer of the scraper and I think the scraper now only does public page profiles. Would be nice to develop a version that could do the private ones.

Cheers
Bas

Op 20 jul. 2015 om 22:02 heeft petabreads <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@bvanbreukelen<

[2015-07-20 20:33] petabreads commented on #49
@bvanbreukelen I might give it a try this evening.... Thanks again

[2015-07-20 20:49] yatish27 commented on #49
I could work on private/authenticated login profile scraping, but there is high chance linkedin will ban the account soon

[2015-09-06 16:36] tadast commented on #44
Looks like Digital Ocean ip ranges have been blocked too :-1:

[2015-09-09 09:08] nwang57 opened #54 "able to extract number of connections from the profile?"
Maybe add a small feature of extracting number of connections from the profile.

For example "https://www.linkedin.com/in/jeffweiner100", you can get 500+ connections at the top right corner of the name card.

[2015-10-03 17:49] barthevandoorn opened #60 "picture.nil? NoMethodError: undefined method `value' for nil:NilClass"
some profiles have a problem with picture.
puts profile.picture
     NoMethodError: undefined method `value' for nil:NilClass

[2015-10-07 13:57] cernyjakub commented on #60
I experience the same problem.

Apparently

[code]

in `profile.rb` fails. It looks like on some profiles the profile IMG tag is present, but it is missing the SRC attribute...

[2015-10-07 14:08] cernyjakub commented on #60
I did some more digging. On one of the problematic profiles I found this (this is the content of `@.page.at(".profile-picture img")`:

[code]

They lazy-load pictures, so we will have to search for `src` or `data-delayed-url` attribute.

[2015-10-07 14:18] yatish27 commented on #60
Can someone send a PR?

[2015-10-07 14:32] cernyjakub commented on #60
I am trying to create it. Unfortunately current HEAD does not work with my app, so I will have to first find out what's the problem. Probably renaming linkedin-scraper to linkedin_scraper broke something...

[2015-10-07 15:17] yatish27 commented on #60
Ya, I recently renamed the files to follow Ruby conventions

[2015-10-07 15:30] cernyjakub commented on #60
OK - just a side note: after your rename, I had to add explicit `:require => 'linkedin_scraper'` to my Gemfile. Apparently the name change killed bundler auto-loading..

The PR for this issue is ready.

[2015-10-07 15:50] #60 closed

[2015-11-25 13:14] quovide opened #62 "Scraper not working"
The scraper fails on profile picture:

/usr/local/share/gems/gems/linkedin-scraper-0.1.7/lib/linkedin_scraper/profile.rb:75:in `picture': undefined method `value' for nil:NilClass (NoMethodError)
        from /usr/local/share/gems/gems/linkedin-scraper-0.1.7/lib/linkedin_scraper/profile.rb:177:in `block in to_json'
        from /usr/local/share/gems/gems/linkedin-scraper-0.1.7/lib/linkedin_scraper

[2015-11-27 22:22] deuxio opened #63 "NameError: uninitialized constant Linkedin"
Hello Yatish,

Thanks a lot for creating this great gem. And even more for taking the time to maintain it...

I used it in a previous app, and it worked fine. In [this new one (rails)](https://github.com/deuxio/lnkdn-xtrct), i'm facing a strange issue that I don't understand. When trying to get a profile's data (rails c / s), I get the following error:

[code]

Would you have any idea how to solve

[2015-12-07 07:48] SergeyTarakanov commented on #63
Hello Yatish,
Same error for ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14] with Rails 4.2.4. Does gem support this version?
Thanks!

[2015-12-09 03:58] barthevandoorn opened #64 "v1 current_companies sometimes returns nil? false with nothing."

[2015-12-09 10:06] deuxio commented on #63
@yatish27 any idea ?

[2015-12-09 16:04] yatish27 commented on #63
Can you check the latest version ?

[2015-12-09 16:08] yatish27 commented on #62
Check latest version

[2015-12-09 16:08] yatish27 commented on #64
Example link ?

[2015-12-10 01:29] barthevandoorn commented on #64
http://www.linkedin.com/pub/james-dyer/8/663/4b3

On Wed, Dec 9, 2015 at 11:08 AM, Yatish Mehta <notifications@github.com>
wrote:

--
______________
Barthe van Doorn  |  Barthe.vanDoorn@gmail.com  |  703.662.3781

[2015-12-10 02:36] yatish27 commented on #64
Check v1.0.1

[2015-12-10 02:36] #64 closed

[2015-12-14 02:55] petabreads opened #65 "Unable to scrape locally hosted profileExample.html file"
Hello All,

I had a project working a couple months ago, returned to it this weekend and ran into an issue. Hopefully someone can point me in the right direction, i'm at a loss. I did a fresh install of linkedin-scraper with the latest version.

In the past, i was able to save the source code from a profile, host it locally, then run the "linkedin-scraper http:localhost:9999/profileExample.html".

[2015-12-14 02:58] petabreads commented on #65
Example Result with a local file:

########:~ user$ linkedin-scraper http://localhost:9999/Jeff_Weiner_local.html
{
  "name": "Jeff Weiner",
  "first_name": "Jeff",
  "last_name": "Weiner",
  "title": "CEO at LinkedIn",
  "location": "San Francisco Bay Area",
  "number_of_connections": "3",
  "country": "San Francisco Bay Area",
  "industry": null,
  "summary": null,
  "picture": "https://media.li

[2015-12-14 12:07] deuxio commented on #63
I checked with the latest version (1.0.1)
[code]

When running the console, I still get that error:
[code]

As you can see, I'm using ruby 2.2.0
[code]

[2015-12-14 15:54] deuxio commented on #63
Another comment: when testing the gem directly in irb, seems work fine. It looks like rails doesn't recognize your gem. Just a thought, but shoudn't your profile.rb file be named linkedin.rb ?

[2015-12-14 17:41] #62 closed

[2015-12-14 17:41] #50 closed

[2015-12-15 01:20] yatish27 commented on #65
Did you try the latest version ?

On Sun, Dec 13, 2015 at 9:58 PM, petabreads <notifications@github.com>
wrote:

--
Yatish Mehta

[2015-12-15 01:25] petabreads commented on #65
yes, i'm trying with 1.0.1

[2015-12-22 14:55] deuxio commented on #63
I switched to version '0.1.5' and it works.

There's an issue in the latest version (0.1.7 too), it seems to be a conflict with rails (railties)

[2015-12-22 17:03] yatish27 commented on #63
Thanks I guess the change in name caused issue

On Tue, Dec 22, 2015 at 6:55 AM -0800, "Brice M." <notifications@github.com> wrote:

I switched to version '0.1.5' and it works.

There's an issue in the latest version (0.1.7 too), it seems to be a conflict with rails (railties)

—
Reply to this email directly or view it on GitHub.

[2015-12-23 10:28] deuxio commented on #63
Which name ? Are you fixing this ?

[2015-12-23 22:59] yatish27 commented on #63
Yes working on it

[2015-12-24 20:48] #63 closed

[2015-12-24 20:48] #54 closed

[2015-12-24 20:49] #47 closed

[2015-12-31 14:56] deuxio commented on #45
Hi there, any news on the possibility to use proxies ? this version allows that: https://github.com/alex-go/linkedin-scraper/blob/master/lib/linkedin-scraper/profile.rb. Should I fork or may i expect these modifs to be included at some point ? It seems like the proxy topic is coming regularly but it's never been merged into master

[2016-01-01 05:19] yatish27 commented on #45
@deuxio Check out version 1.0.2

[2016-01-01 19:05] deuxio commented on #45
Thanks a lot Yatish

[2016-01-01 19:07] bricemaurin opened #67 "Return Status code from page"
As scraping linkedin may fail for various reasons, you should probably return the page status. Something like this, but you may have a better idea.
[code]

[2016-01-05 19:45] 24601 opened #68 "Proxy on command line tool"
Some comments in other issues indicate that a second command line arg can be used to allow usage of a proxy with the command line tool. That doesn't seem to be the case - looking at linkedin-scraper's source, it doesn't seem to call the gem with {:proxy_ip=>'127.0.0.1',:proxy_port=>'3128'} as the second arg.

Is this a feature that is planned? I'm not a ruby dev but this seems like it's easy enoug

[2016-01-09 04:41] yatish27 commented on #68
Check version 1.0.3

[2016-01-09 04:41] #68 closed

[2016-01-09 04:41] yatish27 commented on #67
Will work on it

[2016-01-09 04:46] yatish27 commented on #65
Can you check if there is diff between the source code and the local save file ?

[2016-01-09 04:48] #49 closed

[2016-01-09 04:48] yatish27 commented on #45
Check latest version

[2016-01-09 04:48] #45 closed

[2016-01-09 04:49] #32 closed

[2016-01-09 04:50] yatish27 commented on #44
You will need to by proxies as Linkedin is now smart to not allow bots/scraper to fetch data. Check the latest version 1.0.3. It allows to use proxies.

[2016-01-09 04:50] #44 closed

[2016-01-09 04:51] yatish27 commented on #48
I will work on getting company profile information in the next version

[2016-01-09 04:51] #48 closed

[2016-01-11 12:16] deuxio commented on #67
Shouldn't we keep this one open until fixed ?

[2016-02-08 09:41] NetanelBasal commented on #17
Any soultion to this problem?

[2016-02-08 09:50] yatish27 commented on #17
require 'linkedin_scraper'
profile = Linkedin::Profile.get_profile("http://www.linkedin.com/in/robertwdempsey")

[2016-02-08 09:58] deuxio commented on #17
the "-" has been changed to "_"

cf. @yatish27 answer

[2016-02-14 17:26] PepperTeasdale opened #69 "Scraper is conflating start and end date at companies"
Hi, I love the gem, but I am having some issues parsing the dates in Linkedin::Profile#past_companies

It looks like the hashes returned in #current_companies give start_date and end_date keys, while #past_companies only have start_date. Example output:
![screen shot 2016-02-14 at 12 13 51 pm](https://cloud.githubusercontent.com/assets/9939596/13035104/80fa862e-d315-11e5-86e7-b591d8152438.png)
Act

[2016-02-14 17:27] yatish27 commented on #69
Can you send the link of the Linkedin Profile ?

[2016-02-14 17:31] PepperTeasdale commented on #69
Certainly, https://www.linkedin.com/in/timothypbuckley
Though, I noticed this with a number of profiles, not just this one. Have not tried dipping into the Mechanize/ Nokogiri level yet.
Thank you

[2016-02-14 17:37] yatish27 commented on #69
Fixed. Check latest commit and updated version 1.0.4. Thank you for pointing out the bug.

[2016-02-14 17:37] PepperTeasdale commented on #69
Thank you!

[2016-02-14 17:39] #69 closed

[2016-03-09 14:53] xksusha opened #70 "999 => for -- https://www.linkedin.com/in/some-profile"
Hey, this issue is still not resolved: impossible to make event the first request, I fall directly on the 999 error whereas the

curl -A "Mozilla/5.0 (Windows; U; Windows NT 5.1; de; rv:1.9.2.3) Gecko/20100401 Firefox/3.6.3" -I --url

works perfectly well.

[2016-03-09 22:02] yatish27 commented on #70
Fixed on 1.0.5 latest version

[2016-03-18 11:40] msjonker opened #71 ""See less" included in skills"
The link to "See less" is not being filtered out of the skills.

[2016-03-18 15:51] #71 closed

[2016-03-24 18:58] slucha opened #73 "Gem::Ext::BuildError: ERROR: Failed to build gem native extension."
Great gem, exactly what I have been looking for.
I get the following error when trying to install the gem through the command
gem install linkedin-scraper -v 1.0.4, gem install linkedin-scraper or in my gemfile with gem 'linkedin-scraper'
Seems like it has a problem on the dependency of unf_ext

`Installing unf_ext 0.0.7.2 with native extensions

Gem::Ext::BuildError: ERROR: Failed to build gem na

[2016-03-24 20:37] yatish27 commented on #73
Which OS are you on ?

[2016-03-24 20:38] yatish27 commented on #73
is gcc installed ?

[2016-03-26 13:11] Didos1896 opened #75 "A newbie has an Issue - Error: connection refused: www.linkedin.com:443"
Hello everyone,
thanks for sharing this great gem!

I´m in the following situation:
Soon, I´ll start to write my master thesis. To create the necessary data base I want use the information of a few thousand public linkedin profiles.
I have never programed at all and currently try to find a way to create the data base.
In this context I found this gem. While using this gem, I came to the issue, tha

[2016-03-28 14:13] slucha commented on #73
Yes gcc is installed. I got it working now by ubdating the build essentials. Thak you!
I am a real newb, thanks for your patience. I get the gem working from the command line by requesting
`linkedin-scraper http://www.linkedin.com/in/jeffweiner08`

After I retried today I suddenly get the following error:

`/home/jan/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/linkedin-scraper-1.0.5/bin/linkedi

[2016-03-29 15:36] georgepercic opened #76 "languages && certifications empty response"
Hi!

I just tested the library and is working great with a few minor glitches: json response returns empty values for languages and certifications (I tested on my account and i have both completed). In your code i saw this:

def languages
      @languages ||= @page.search(".background-languages #languages ol li").map do |item|
        language = item.at("h4").text rescue nil
        proficiency =

[2016-03-29 15:37] yatish27 commented on #76
Will look into it

[2016-03-30 12:12] nertar opened #77 "Legal"
How do you cope with linkedin [user agreement](https://www.linkedin.com/legal/user-agreement) part 8.2?

[2016-04-06 09:21] abhisheksingh23 opened #78 "LoadError"
I installed linkedin-scraper and tried to include it in my script . I get the following load error .

from /home/abhi/.rbenv/versions/2.1.5/bin/irb:11:in `<main>'

[2016-04-06 11:33] abhisheksingh23 commented on #78
My Ruby version is 'ruby 2.1.5p273' I guess the gem is not tested for this particular environment .

[2016-04-06 12:26] abhisheksingh23 commented on #78
Problem solved after require 'linkedin_scraper'(will save a lot of time for others ) .
Please merge pull request for the documentation.
https://github.com/yatish27/linkedin-scraper/pull/79

[2016-04-11 23:54] jpegjames commented on #75
I'm getting a separate issue preventing me from getting it to work so I can't test this, but have you tried just sending it has an http request instead of https? The examples in the readme are http.

[2016-04-18 03:51] johnwu93 opened #80 "Scraper cannot scrape names somtimes"
Sometimes when I scrape my own profile with url="https://www.linkedin.com/in/johnwu93", I am able to get my name by doing Linkedin::Profile.get_profile(url).name

However, sometimes, this will not work and Linkedin::Profile.get_profile(url) will actually return nil. I looked at the issues and it seems that the console will output a connection error and then the function will return nil. However, f

[2016-04-19 06:26] hmphu commented on #44
@yatish27 Do you know any good and fresh proxy service? I want to buy many proxies to run the tool.

Thanks a lot

[2016-04-19 18:38] yatish27 commented on #44
@hmphu https://instantproxies.com/

[2016-04-24 15:54] Torq07 commented on #70
I have the same issue with version 1.0.5 . Any thoughts?

[2016-04-25 05:06] yatish27 commented on #70
Can you check if the same issue is on local machine ?

[2016-04-25 05:17] Torq07 commented on #70
On local machine all is ok.
Maybe you can help me? What this error is mean? Why it's not working on DO? How can i resolve this issue for DO? I thought that's because DO/AWS and others providers has been blocked by IP, but if i use proxy nothing changed.

[2016-04-25 05:18] yatish27 commented on #70
Which proxy are you using ? Try paid proxies from https://instantproxies.com/

[2016-04-25 05:25] Torq07 commented on #70
Thanks, will try it now .

[2016-04-25 14:10] Torq07 commented on #70
Tried to use proxy from https://instantproxies.com/ and had that same result. 999((( Even if i use it on local machine with this proxy i get this 999 response.

[2016-04-25 15:14] yatish27 commented on #70
Give the link of the profile

On Mon, Apr 25, 2016 at 7:10 AM -0700, "Torq07" <notifications@github.com> wrote:

Tried to use proxy from https://instantproxies.com/ and had that same result. 999((( Even if i use it on local machine with this proxy i get this 999 response.

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub

[2016-04-25 15:18] Torq07 commented on #70
It's not working not for some specific profile.  It's not working from DO/AWS/RussianVPS with proxy. And if i run it from local machin with proxy it is not working too. Have you tried to run it on AWS or DigitalOcean instance?

[2016-04-26 01:58] Jasonw152 commented on #70
I have the same problem with Digital Ocean. Localhost works but server side nope.

Could maybe somebody share a configuration that works? What VPS are you using? Do you use a proxy/vpn in between? What proxy/vpn vendor are recommended to be used?

Thanks in advance
Jason Reto

[2016-04-26 14:36] Jasonw152 commented on #70
@yatish27 would you be able to share your configuration?
Thanks a lot

[2016-04-27 20:39] #77 closed

[2016-05-01 18:21] bricemaurin opened #81 "doesn't scrape company details anymore"
The company details are not returned anymore for me. Same for you ?

[code]

[2016-05-01 18:48] yatish27 commented on #81
This si a issue. Can you check with proxy ?

[2016-05-02 08:06] bricemaurin commented on #81
I just tested with a (public) proxy, the profile is returned, not the company page (login page intead)

[2016-05-05 00:03] danielpclark commented on #70
I'm receiving this same error on any profile I give.  `gem install linkedin-scraper`

[code]

[2016-05-05 02:59] danielpclark commented on #70
I believe this is an issue with the User Agent being blocked by Linkedin.  The user agents in this repo are out of date.  I got the same error myself manually scraping with mechanize until I changed the user agent.

May I suggest either requiring people to enter their own agent or grabbing a random one from here http://ua.theafh.net/ .  It's a user agent search & listing page.  The closer to the t

[2016-05-05 04:34] yatish27 commented on #70
I will update it by weekend

On Wed, May 4, 2016 at 7:59 PM -0700, "Daniel P. Clark" <notifications@github.com> wrote:

I believe this is an issue with the User Agent being blocked by Linkedin.  The user agents in this repo are out of date.  I got the same error myself manually scraping with mechanize until I changed the user agent.

May I suggest either requiring people to enter their own agent o

[2016-05-06 21:24] haerde commented on #81
@bricemaurin isn't is called `linkedin_company_url`? I'm using [my version of this gem](https://github.com/haerde/linkedin-scraper) and `profile.current_companies.first` returns:
[code]

[2016-05-06 22:10] yatish27 commented on #81
But if you look at the readme it has many more keys. It seems to stop working. Looking into it

[2016-05-06 22:25] yatish27 commented on #70
The latest version users randomuser agent, it still doesn't solve the company page browsing issue

[2016-05-07 23:08] haerde commented on #80
LinkedIn sometimes blocks connections. You should use proxy or tor.

[2016-05-10 01:21] yatish27 commented on #81
The issue is fixed in master now. Will be releasing the gem 2.0 later tomorrow @bricemaurin

[2016-05-10 01:21] #81 closed

[2016-05-10 01:21] #78 closed

[2016-05-10 01:22] #67 closed

[2016-05-10 01:23] yatish27 commented on #70
Fixed in master.

[2016-05-10 01:24] yatish27 commented on #80
Use proxy instantproxies

[2016-05-10 01:24] #80 closed

[2016-05-10 01:25] yatish27 commented on #75
https should work
Sometimes Linkedin blocks if you hit the server continuously

[2016-05-10 01:25] #75 closed

[2016-05-10 01:25] #73 closed

[2016-05-10 07:46] bricemaurin commented on #81
Thanks Yatish, what's the commit that fixed it ? I'd like to have a look at the code to understand the issue.

[2016-05-10 16:37] yatish27 commented on #81
[code]

[2016-05-11 07:27] bricemaurin commented on #81
thanks @yatish27

[2016-05-13 14:16] AlexBelov opened #85 "NameError: uninitialized constant Linkedin in Rails"
Hi!

Today I've tried to use this gem with Rails 4.2.3 and catched **NameError: uninitialized constant Linkedin**
The same one was described previously in issue #63
Then I've tried to change linkedin_scraper back to linkedin-scraper everywhere in project and it start working. I'm not pretty sure, but seems like gem name (from gemspec) different than main file name in lib directory make it broken w

[2016-05-13 20:24] AlexBelov commented on #85
PR is merged, so I'm closing this issue

[2016-05-13 20:24] #85 closed

[2016-05-18 15:05] bricemaurin opened #86 "profile.rb:258:in `block in get_company_details': undefined method `[]' for nil:NilClass (NoMethodError)"
I get this error when trying to get linkedin data

[code]

[2016-05-19 18:57] yatish27 commented on #86
looking into it.

[2016-05-19 19:02] yatish27 commented on #86
@bricemaurin Fixed check 2.1.1 and master

[2016-05-19 19:02] #86 closed

[2016-05-19 20:12] bricemaurin commented on #86
Thanks ;)

[2016-05-23 14:25] santosh-btc commented on #21
agent = Mechanize.new

agent.get 'http://mediaserver-cont-ch1-2-v4v6.pandora.com/images/public/rovi/albumart/3/2/7/3/075679453723_500W_500H.jpg - work in local and give Mechanize::Page object.

agent.get 'http://mediaserver-cont-ch1-2-v4v6.pandora.com/images/public/rovi/albumart/3/2/7/3/075679453723_500W_500H.jpg - not working in production.gives Mechanize::Image object.

Please Help me.

'

[2016-05-23 14:35] santosh-btc opened #87 "Facebook Scraping issue"
agent = Mechanize.new

agent.get 'http://mediaserver-cont-ch1-2-v4v6.pandora.com/images/public/rovi/albumart/3/2/7/3/075679453723_500W_500H.jpg - work in local and give Mechanize::Page object.

agent.get 'http://mediaserver-cont-ch1-2-v4v6.pandora.com/images/public/rovi/albumart/3/2/7/3/075679453723_500W_500H.jpg - not working in production.gives Mechanize::Image object.

Please Help me. i am stuc

[2016-05-23 14:36] #87 closed

[2016-05-31 12:45] cernyjakub opened #90 "Class name clash with 'browser' gem"
The new dependency on `random_user_agent` gem has added a nasty classname clash with widely used `browser` gem. Both gems define a `Browser` class without any namespacing.

I am afraid I am not the only one who was hit by this - it seems to me the `browser` gem is widely used.

[2016-05-31 17:25] yatish27 commented on #90
Yes, Seems like I need to included the 'random_user_agent' code in the gem with proper namespace, will fix it by tomorrow

[2016-06-02 10:59] cernyjakub commented on #90
Great, latest update fixes the problem. Thanks!

[2016-06-02 10:59] #90 closed

[2016-06-18 06:20] ParthivPatel-BTC commented on #70
@yatish27 This gem is awesome. But somehow this gem is not working on heroku. Any solution?

[2016-06-18 06:26] viha4582 commented on #70
@yatish27  It's awesome. But somehow this gem is not working on heroku. Any solution?

[2016-06-18 11:45] danielpclark commented on #70
@viha4582 I think they block those IP addresses.

[2016-06-18 11:57] barthevandoorn opened #93 "Mechanize::ResponseCodeError: 999 => for -- https://www.linkedin.com/in/jeffweiner08"
irb(main):001:0> require 'linkedin-scraper'
=> true
irb(main):002:0> profile = Linkedin::Profile.new("http://www.linkedin.com/in/jeffweiner08")
Mechanize::ResponseCodeError: 999 =>  for  -- https://www.linkedin.com/in/jeffweiner08

[2016-06-24 08:21] pinymax commented on #93
Same from me. Works well on local machine, but doesn't work on Heroku or AWS. Is anyway to use proxy or somehow fix this problem?

[2016-06-29 19:01] natemcguire commented on #93
Same here. Looks like we need to set the user agent for mechanize.

https://github.com/sparklemotion/mechanize/issues/336

[2016-07-01 10:43] pinymax commented on #93
@natemcguire
"The latest version uses randomuser agent"
So I guess, it wouldn't ihelp

[2016-07-19 08:35] 100chocolate commented on #65
I am having the same problem with version 2.1.1 using ruby 2.2 x64. Any suggestions on how to resolve this issue.. I have diffed the local version and the online public profile and there is no apparent difference.

[2016-08-30 17:54] CodeCompiler commented on #93
Need to put a proxy service like storm proxies into this so the IP resolution doesn't come back

[2016-08-30 19:03] yatish27 commented on #93
@CodeCompiler Any suggestion PRs

[2016-10-01 03:36] chamnap commented on #93
@CodeCompiler, does the storm proxies work for you? I used myprivateproxy, but it doesn't work at all.

[2016-10-25 16:11] leotam opened #98 "Did they patch this access point?"
Was working a week ago but now doesn't work on any IP...

[2016-10-25 16:12] yatish27 commented on #98
Which access point ?

[2016-10-25 16:12] yatish27 commented on #98
What is the output ?

[2016-10-25 17:04] leotam commented on #98
Now getting Mechanize::ResponseCodeError: 999 always

[2016-10-25 17:23] yatish27 commented on #98
your IP is blcoked. You will need a new IP

[2016-10-26 08:28] leotam commented on #98
The error used to go away when switching IPs via VPN (over 20 unique IPs) or using a proxy service.  Now always receiving the error.

[2016-10-26 10:40] #98 closed

[2016-11-07 17:22] davidcordeiro5 opened #99 "Err 999 with `company_details: true`"
Hi, I have an error when i use company_details option.
Let me explain:
I have created a function which takes linkedin's url in parameter. In this function i call `begin` and
i call `Linkedin::Profile.new` with the url put in parameter and the options `proxy_ip` and `proxy_ports` if the
proxy fails I call `rescue`/`retry` to loop with new proxies (thanks to an API)  until I get a profile. And it wo

[2016-11-07 19:42] bricemaurin commented on #99
LinkedIn is modifying their company pages (to /company-beta linking to a
redesign) as we "speak". That's probably the reason.

The gem will have to be updated once the company pages moves out of beta.

Le lundi 7 novembre 2016, David <notifications@github.com> a écrit :

--
Brice MAURIN
*​DEUX•IO* -
​Agence Growth Marketing, Paris
call: +33.6.01.18.94.59.
​blog: ​
http://deux.io
<http://deux.io/?u

[2016-11-07 21:49] yatish27 commented on #99
I did updated the gem where the company data was being displayed as JSON

[2016-11-08 05:14] aaark commented on #44
Hi
Yatish27
I am using linkedin scrapper gem and getting this error after requesting more than two or three times, would you please tell me the solution.

Mechanize::ResponseCodeError in LinkedinController#search
999 => for -- "xyz profile "

[2016-11-08 09:10] tadast commented on #44
@aaark  LinkedIn does not want you to scrape their website, so after simultaneous requests they block your IP address. A solution would be to use a proxy server (i.e. channel all your scraping traffic through another server with IP that is not blacklisted yet), but it's only a matter of time until they detect and block the new IP address again, so there is no reliable solution unless you have acce

[2016-11-08 15:03] davidcordeiro5 commented on #99
Is that URL available via browser ?

Yes it is available via browser.

The error always occurs when I try to get profile's company details with `company_details: true`

[2016-12-11 16:47] rcavezza commented on #93
I just bought 10 proxies from instantproxies and I can't get a single valid response, whereas I can get a few responses per day without using a proxy. I'm only passing `proxy_ip` and `proxy_port`, not `username` and `password`.

[2016-12-11 17:05] rcavezza commented on #93
I also bought a few IPs from StormProxies and I am having the same issues. I'm now using username and password on localhost - same result, 999 Mechanize error.

[2016-12-12 02:06] rcavezza commented on #93
I created a PR, but it didn't fix my issue. If anyone has any insight into why this is occurring for me and can point me in the right direction on how to fix it, I'd really appreciate it. I can't tell if this is happening for everyone, or a small subset of people (based on the previous comments).

[2016-12-14 01:38] rcavezza commented on #93
I have not been able to get over this issue. I'm going to attempt to use the mechanize gem without `linkedin-scraper` in hopes that I will be able to get it to work correctly. If I find a solution, I will come back and apply the fix to this repo.

[2017-01-29 15:47] iliasnaamane opened #101 "return json with linkedin-scraper command"
I get an error when running ' linkedin-scraper http://www.linkedin.com/in/jeffweiner output.json '

`/home/youpi/.rvm/gems/ruby-2.2.0/gems/linkedin-scraper-2.1.1/bin/linkedin-scraper:12:in `<top (required)>': uninitialized constant JSON (NameError)
	from /home/youpi/.rvm/gems/ruby-2.2.0/bin/linkedin-scraper:23:in `load'
	from /home/youpi/.rvm/gems/ruby-2.2.0/bin/linkedin-scraper:23:in `<main>'
	fr

[2017-03-15 17:31] Startouf opened #103 "Gem dependency on `random_user_agent` causes conflict with gem `browser`"
The `browser` gem defines a Browser module whereas the `random_user_agent` gem used in this gem defines Browser as a class.

Putting both in a Gemfile produces a TypeError `Browser is not a class`

[2017-03-17 15:32] iliasnaamane commented on #93
Same error here /home/youpi/.rvm/gems/ruby-2.2.0/gems/mechanize-2.7.5/lib/mechanize/http/agent.rb:949:in `response_read': 999 Kindly help me, thanks

[2017-03-20 09:01] Startouf commented on #93
Hey, any updates on this ?

[2017-04-21 13:41] matsossah commented on #93
@iliasnaamane @rcavezza @chamnap @yatish27 @CodeCompiler @pinymax @natemcguire @washingon Has anybody been able to resolve this issue?  @Startouf and I work together and haven't found a single solution yet :/  Thanks in advance for any help you could provide!

[2017-05-12 14:34] borenstejn commented on #93
Hi Guys,

I'm just trying to use the gem locally and after having succeeded twice, I end up with the same message: ```Mechanize::ResponseCodeError: 999 =>  for  -- http://www.linkedin.com/in/jeffweiner08```

I thought it was a problem with my IP address so I used a VPN (betternet) to trick LinkedIn, but i still have the same error coming. Do you have any clue for me ?

Thanks a lot

[2017-05-12 15:42] Startouf commented on #93
Hey @borenstejn
I actually got a mail from a Proxy company that explained to me it was very hard nowadays to get a hold of proxys that work with Linkedin since they've become very aggressive.

FYI I have already tried
- InstantProxies.com
- stormproxies
- limeProxies
- shader (who reported to me what I wrote just above)

I'd be glad to have your feedback in case you find something that works, than

[2017-05-14 22:39] fritzZz opened #104 "Is already working with the new version of Linkedin?"
When I execute the command ./linkedin-scraper https://www.linkedin.com/in/blablabla/
I got this error:

/usr/lib/ruby/gems/1.9.1/gems/mechanize-2.7.4/lib/mechanize/http/agent.rb:942:in `response_read': 999 =>  -- https://www.linkedin.com/in/blablabla/ (Mechanize::ResponseCodeError)
	from /usr/lib/ruby/gems/1.9.1/gems/mechanize-2.7.4/lib/mechanize/http/agent.rb:270:in `block in fetch'
	from /usr/li

[2017-05-16 23:41] rubenbaden commented on #104
It worked twice for me out of a few hundred times - Im assuming maybe we need new user agents?

I'm not sure but need help!

Will post if I find anything out.

[2017-05-16 23:44] rubenbaden commented on #70
Where does the code find our user agent? I want to edit with my own.  ( sorry new to ruby)

[2017-06-06 00:02] ajrasch commented on #101
@iliasnaamane Did you ever get this working from terminal? I'm having the same problem....

[2017-06-08 14:26] iliasnaamane commented on #101
I have created a ruby file & run "ruby filename.rb linkedinUrl " then you will get linkedin profile in Json format.
`
require 'linkedin-scraper'

profile = Linkedin::Profile.new("#{ARGV.first}")
puts profile.to_json`

[2017-06-08 14:26] #101 closed

[2017-07-11 07:59] Startouf commented on #104
I don't understand why you have to start another issue when there are 2 discussing about this already =_=

[2017-07-11 14:40] yatish27 commented on #104
Linkedin is strict. It identifies bot requests and sends a 404 repsonse

[2017-11-05 20:57] cyberfab007 commented on #104
I found using curl to authentic linkedin worked well, also I have been able to pull down profile requests as well, the issue I am running in too is processing the java script so it can be readable in DOMdocument so I can use XPATH to scrape the information. right now I have a bunch of pregmatch trickery going on sorting through json output that comes down. I wrote my script php, its a class object

[2018-04-20 21:49] georgenicholas commented on #93
Did anyone ever figure this out?  I'm getting the 999 error, it hasn't worked even once yet.  I'm running this locally.

[2018-05-07 12:42] Karan-Daiict opened #105 "Getting 999 when hitting public profile pages in linkedIn."
When I hit public profiles I get 999. I guess after 4 to 5 continous hits, linkedIn blocks the ip address. So changed the ip, but still 999 exists. Is it possible that they are able to get local machine ip address?
How to solve this error without login?

I'm stuck with this. Please help.

[2018-05-24 07:25] shantilal-narola commented on #93
Any update on this?

[2018-07-26 21:47] tp00012x commented on #93
Has somebody figured this out?

[2018-10-10 06:16] rochenka commented on #105
@Karan-Daiict  @adolfopeccin same for me until I found an API that avoids the 999, i make GET requests to that API which calls Linkedin and returns the data, the API is from proxycrawl.

[2018-10-10 06:19] rochenka commented on #70
I solved the blocking problem by using proxycrawl API, i make get requests to that API which calls linkedin and gives the html data back.

[2018-10-10 06:29] rochenka commented on #105
@Karan-Daiict I do not use Linkedin API, i use ProxyCrawl API which calls linkedin internally. https://proxycrawl.com/scraping-api-avoid-captchas-blocks

[2018-10-10 06:36] Karan-Daiict commented on #105
Ohh okay, that is good. Scraping with proxy built in. But you'll have to
pay for it.

On Wed 10 Oct, 2018, 11:59 AM rochenka, <notifications@github.com> wrote:

[2018-10-10 06:59] rochenka commented on #105
@Karan-Daiict yes I do not want to manage headless browser infrastructure or whatever tricks comes along the way from Linkedin, especially that i am building a project for recruiting so I need data constantly, that is why I pay for it, the other option is to find proxies that work for Linkedin which is another difficult task to do and also I have to pay for it, so I went for an easy good solution.

[2018-10-10 07:07] Karan-Daiict commented on #105
Yeah. Basically I created some proxies and ran them in round robin fashion.
Does the API give complete data and is the signature easy to use for proxy
crawl? Also I think LinkedIn will block based on creds. Do check that.

On Wed 10 Oct, 2018, 12:29 PM rochenka, <notifications@github.com> wrote:

[2018-10-10 07:15] rochenka commented on #105
I do not really know what they do internally, i just receive the html data that is public, i do not think they support private data crawling from linkedin though.

[2018-10-18 20:37] adolfopeccin commented on #105
@rochenka how did you implemented the scraping for linkedin data using proxycrawl?

[2018-11-30 10:32] rochenka commented on #105
@adolfopeccin Its basically simple, proxycrawl does the crawling with their API, you need to have a token. I think you can get one token for 1000 free requests. So, proxycrwal  gives me the raw html data response and I then use linkedin-scraper to scrape the html content.

[2019-05-07 20:55] MrAbalogu opened #106 "I get nil on json response properties except 'linkedin_url' which returns the linkedin link I provided"
<img width="523" alt="Screenshot 2019-05-07 at 4 54 44 PM" src="https://user-images.githubusercontent.com/8310934/57332501-dd5b9100-70e8-11e9-97fe-ab48fe51d63b.png">

[2019-10-08 08:40] sakinho commented on #93
This error happens to me locally with no proxy. Any idea of how to solve it?

[2019-12-06 22:55] abhishmitra commented on #105
@rochenka

Hi,
I spoke to proxycrawl but they have certain limits and stuff. Did they impose those recently? How are they working for you?